<h1>Welcome!</h1>

<p>
This site is designed to allow you to request and checkout eBooks, videos, and related materials 
to enhance your learning in subjects outside your normal day job responsibilities. By making these
resources available to you, it is hoped you will be able to leverage that knowledge to be more
effective and come up with new creative ideas to solve problems we are challenged with every day.
</p>
<p>
If you have suggestions to make this site better, please do not hesitate to let Jeremy know.
</p>
