<div class="menubar">
  <span style="padding: 3px 10px 3px 10px">
    [&nbsp;<%= link_to 'Home', :action => :index, :controller => "/library" %>&nbsp;]
  </span>
  <span style="padding: 3px 10px 3px 10px">
    [&nbsp;<%= link_to 'Library List', :action => :list, :controller => "/library" %>&nbsp;]
  </span>
  <span style="padding: 3px 10px 3px 10px">
    [&nbsp;<%= link_to 'Your Account', :action => :index, :controller => "/account" %>&nbsp;]
  </span>
</div>
